/* the blahgs */

#blog {
    .meta {
        padding-left: 0px;
        margin-top: 0px;
    }
    h3, h4, h5 {
    	font-family: $body-header-font;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h2 {
	font-family: $body-font-family;
	text-align: left;
    margin-top: 10px; 
    margin-bottom: 10px;

    p {
        margin-bottom: 5px; 
    }

	@include large-screen-query {
	    font-size: 3em;
	    font-weight: 500;
	}
    }

    li {
	line-height: 1.5em;
    }

    article {
        padding-bottom: 65px;
    }
    
    /*
    h1 {
	font-weight: 500;
	text-align: center;
    }

    h2 {
    	font-family: $body-font;
	font-size: 3em;
	font-weight: 500;
	text-align: left;
    }

    h3 {
    	font-size: 1.5em;
    }

    h4 {
    	font-weight: 500;
    }

    h5 {
    	text-align: right;
    	font-size: 1.5em;
    }
    */
}