/* body template styling */

@import "../variables/_global-variables";

img,
embed,
object,
video {
    max-width: 100%;
}

body {
    color: $body-font-color;
    font-family: $body-font-family;
    margin-top: 0;
}

br {
    height: 20px;
}


// Specific ids

#page {
    margin: 0;

    @include small-screen-query {
	margin: 6px;
    }
}

#col-left {
    width: 300px;
    padding: $padding-top;
    position: fixed;
    top: 0;
    z-index: 10;

    // Center and shift the badge one-col layout
    @include not-large-screen-query {
	position: initial;
	margin: 55px auto 0 auto;
	padding: 0.75em 0;
    }
}

#nav {
    @include not-large-screen-query {
	position: fixed;
	z-index: 1;
	background-color: #fff;
	opacity: 0.9;
	width: 100%;
	height: 60px;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;

	ul {
	    font-family: $body-header-font;
	    font-size: 1.2em;
	    font-weight: 700;
	    // Override default css
	    padding: 0;
	    margin: 0.75em;
	}

	li {
	    display: inline;
	    list-style-type: none;
	    padding: 15px;

	}

    }

    @include small-screen-query {
	ul {
	    font-size: 1em;
	}
    }

    @include large-screen-query {
	margin-top: 40px;
	ul {
	    font-family: $body-header-font;
	    font-size: 2em;
	    font-weight: 700;
            text-align: right;
	}
    }
}

#col-right {
    $padding: 20px;

    position: relative;
    padding: $padding-top $padding $padding 400px;
    overflow-y: auto;

    // Give up scaling on oversized screens
    @include oversized-screen-query {
	right: auto;
	width: 1000px - $padding;
    }
    // Shift to single col
    @include not-large-screen-query {
	position: initial;
	padding: 2em;
    }

    // Wall to wall on small screens
    @include small-screen-query {
	padding: 0;

	.padded {
	    padding: 0;
	}

	.bordered {
	    border: none;
	}
    }
}

#logo {
    h1 {
	font-family: $body-accent-font;
	font-weight: 300;
	text-align: center;
	font-size: 2.8em;
	margin: 0.4em auto;
	// line-height: 2;
    }

    img {
	// padding: $padded;
		margin-bottom: 10px;
    }
}

#logo-image {
    width: 200px;
    margin-bottom: 0.5em;
}

#logo-footer {
    background: $primary-color;
    border-top-style: solid;
    border-width: 1px;
    padding: 5px 0 5px 0;

    p {
	text-align: center;
	font-size: 1.1em;
	font-weight: 300;
	line-height: .55;
	margin-top: 12px;
    }
}

#logo-hero {
    margin-bottom: 20px;
}

#social-icons {
    $padding: 24px;
    color: $secondary-color;

    text-align: right;

    img {
	text-decoration: none;
	line-height: inherit;
	opacity: 0.4;

	@include transition-mixin(opacity, 0.5s);

	bottom: 0;
	margin-left: $padding;
	width: 60px;

	@include not-large-screen-query {
	    margin: 0 $padding / 2;
	}
    }

    img:hover {
	opacity: 1.0;
    }

    @include not-large-screen-query {
	text-align: center;
    }
}