/* Portfolio page styles */

#portfolio {
   img {
   	max-width: 400px;
   	float: left;
   	margin: 0 5% 5% 5%;
   	@include box-shadow-mixin (0px, 0px, 10px, 1px, #ccc);

	@include small-screen-query {
	    width: 90%;
	}
   }

   h2 {
       font-family: $body-font-family;
       text-align: center;
       font-size: 2em;
   }
}