// -*- indent-tabs-mode: nil, tab-width: 4 -*-

/* Global Styles */
$body-bg: #555555;
$body-font-color: #222;
$body-font-family: "Open Sans";
$body-header-font: "Alegreya Sans SC";
$body-accent-font: "Open Sans";

$padded: 0.5em;
$padding-top: 2em;


/* Color Palette */
$primary-color: #f35757;
$secondary-color: #9D8851;
$blue-color: #4a64a9;

/* Animations */
$hover-transition: 0.2s;

/* Text Rendering */
$base-font-size: 1.25em; /* 16px most browsers */
$h2-font-size: 1.6875em;
$base-line-height: 150%;
$section-header-spacing: 0.2em;
$top-padding: 20px;