<!-- -*- tab-width: 2 -*- -->
<!DOCTYPE html>
<html class="no-js" lang="en">

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("7d2d34428bb972f3841fcedd4ff17539");</script><!-- end Mixpanel -->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pocketknife</title>
    {% stylesheet screen %}
  </head>

  <body>
    <div id="page">
      <div id="col-left">
        <div id="logo-hero" class="bordered padded">
          <div id="logo" class="bordered">
            <h1>Pocketknife</h1>
            <div id="logo-image" class="centered">
              {% image pocketknife.svg %}
            </div><!-- /end.logo-image -->
            <div id="logo-footer">
              <p>design &#183 prototyping</p>
              <p>engineering</p>
            </div><!-- /end.logo-footer -->
          </div><!-- /end.logo -->
        </div><!-- /end.logo-hero -->

        <div id="nav">
          <ul class="no-bullet">
            <li><a href="/"> Home </a></li>
            <li><a href="/portfolio"> Portfolio</a></li>
            <!-- <li><a href="#"> Blog </a></li> -->
          </ul>
        </div><!-- /end.section -->

        <div id="social-icons">
            <a href="https://twitter.com/CaitriaONeill">{% image twitter_icon.svg %}</a>
            <a href="https://www.facebook.com/pocketknifeprototyping">{% image facebook_icon.svg %}</a>
            <a href="mailto:hello@pocketknife.io?Subject=Hey%20stranger!" target="_top">{% image email_icon.svg %}</a>
        </div><!-- /end.social_icons -->
      </div><!-- /end.left -->

      <div id="col-right">
        {{ content }}

        <div class="footer">
          <img src={% asset_path lines3.svg %} width="100%" style="margin-top: 5%; margin-bottom: 5%;">
            <h2>JOIN OUR <a href="http://eepurl.com/LCPeT">MAILING LIST </a></h2>
            <h2>GIVE US A <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Unico_Anello.png/200px-Unico_Anello.png">RING</a> - (650) 648-3496</h2>
            <h2>DROP US A LINE - <a href="mailto:hello@pocketknife.io?Subject=Hey%20stranger!" target="_top">hello@pocketknife.io</a>
        </div><!-- /end.footer -->
      </div><!-- /end.col-right -->
    </div><!-- /end.page -->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
     var offsetsOffset = 20;
     $('a').click(function(){
       $('#col-right').animate({
         scrollTop: $( $.attr(this, 'href') ).offset().top - offsetsOffset
       }, 500);
       return false;
     });
    </script>
    {% if page.mixpanel %}
      <script>mixpanel.track("{{ page.mixpanel }}");</script>
    {% endif %}

  </body>
</html>
